.underlineAnimation {
    position: relative;
    transition: all 0.3s ease;
  }
  
  .underlineAnimation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  .underlineAnimation:hover::after {
    background-color: #000;
  }